ol, ul {
    padding-left: 0rem;
}
.sidebar-prod {
    max-width: 270px;
    width: 100%;
}
.section-list-products {
    margin-top: 46px;
    width: 100%;
    margin-bottom: 50px;
}
.main-prod{
    flex: 1;
    padding-left: 30px;
}
.main-prod .top-main-prod{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}
.item-filter {
    display: inline-block;
    margin-right: 16px;
    position: relative;
}
.item-filter span {
    min-width: 240px;
    /* width: 100%; */
    font-size: 14px;
    line-height: 16px;
    color: #221F20;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 24px;
    padding: 12px 40px 12px 16px;
    cursor: pointer;
    position: relative;
    display: block;
}
.box-products .sub-title-main {
    flex: 1;
}
.sub-title-main {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221F20;
    text-transform: uppercase;
}
.item-filter span i {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.list-products-cat{
    margin: 0 -15px;
}
.list-products-cat .item-cat-product {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.item-side {
    border-bottom: 1px solid #F7F8F9;
    margin-bottom: 16px;
}
.list-number-row.open {
    top: 50px;
    opacity: 1;
    visibility: visible;
}
.list-number-row .item-number-row a {
    font-size: 14px;
    line-height: 40px;
    color: #221F20;
}
.list-number-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 8px;
    padding: 16px 16px 13px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    z-index: 9;
}
.list-products .product {
    position: relative;
}
.item-side-title-firts{
    font-size: 16px;
    color: #000;
    font-weight: 600;
}
.list-number-row .item-number-row a:hover {
    font-weight: 600;
}
.item-side-title{
    width: 100%;
    display: block;
    padding: 10px;
    cursor: pointer;
}
.item-side-title:hover{
    background-color: #E7E8E9;
}
.seller{
    background: url('../img/bg-seller.png') no-repeat center / cover;
    padding: 7px 18px 7px 15px;
}
.badget_02 {
    background: url('../img/badget-02.png') no-repeat center / cover;
}
.list-inline-pagination{
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    list-style: none;
}
.list-inline-pagination li:first-child {
    margin-right: 17px;
}
.list-inline-pagination li a {
    display: block;
    min-width: 32px;
}
.product_active_ts {
    background: #221F20 !important;
} 
.product_active_ts a{
    color: #FFFFFF;
}
.list-inline-pagination li {
    background: #FFFFFF;
    border: 1px solid #E7E8E9;
    border-radius: 8px 0px;
    height: 32px;
    font-size: 12px;
    color: #6C6D70;
    text-align: center;
    line-height: 30px;
    margin-right: 12px;
}
.last-page {
    padding: 0 12px;
}
.price-product del {
    color: #A8A9AD;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    vertical-align: middle;
}
#alert-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Đảm bảo nổi lên trên các phần tử khác */
    display: none; /* Ẩn ban đầu */
}

#alert-message.show {
    display: block; /* Hiển thị khi có class show được thêm vào */
}
.remove-item {
    font-size: 30px;
    color: #999;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.remove-item:hover {
    color: #ff0000;
}

.item-product-cart {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.item-product-cart:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Product detail */

.breadcrumb__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f7f8f9;
    width: 100%;
}
.product-detail {
    margin: 40px 0;
}
.product-detail{
    width: 100%;
}
.product-detail__sub-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.product-detail__rating{
    width: 50%;
}
.product-detail__rating .product-detail__rating-wrapper{
    display: flex;
    /* width: 100%; */
    justify-content: space-around;
    align-items: center;
}
.product-detail__rating-wrapper{
    margin-right: 100px;
}
.product-detail__rating__bar i{
    color: orange;
}
.product-detail__information h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    color: #221f20;
}
.product-detail__price, .product-detail__flash-sale, .product-detail__quantity, .product-detail__actions {
    margin-top: 24px;
    position: relative;
}
.product-detail__information .product-detail__color .product-detail__color__input, .product-detail__information .product-detail__color .product-detail__size__input, .product-detail__information .product-detail__size .product-detail__color__input, .product-detail__information .product-detail__size .product-detail__size__input {
    margin-top: 12px;
}
.product-detail__size {
    display: flex;
    margin-top: 12px;
}
.product-detail__size label {
    display: inline-flex;
    cursor: pointer;
    margin-right: 10px;
}
.product-detail__size label span.active{
    border-color: #000;
}
.product-detail__price .product-detail__price-sale {
    background-color: #dc633a;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #f7f8f9;
    position: absolute;
    right: calc(100% - 300px);
    top: -20%;
    padding: 4px 8px;
    min-width: 55px;
}
.product-detail__price del {
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #a8a9ad;
    margin-left: 4px;
}
.product-detail__price b {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #221f20;
}
.product-detail__size label span {
    width: 48px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
}
.product-detail__quantity{
    display: flex;
    align-items: center;

}
.btn--large.btn--outline {
    background-color: white;
    border: 1px solid #221f20;
    color: #221f20;
}
.product-detail__actions {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.product-detail__actions button + a {
    margin-left: 16px;
    margin-right: 16px;
}
.product-detail__information .product-detail-divider {
    margin-top: 24px;
}
.product-detail__tab .tab-item.active:before {
    content: "";
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #221f20;
}
.product-detail__tab {
    margin-top: 24px;
}
.product-detail__tab .product-detail__tab-header {
    display: flex;
    border-bottom: 2px solid #f7f8f9;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.product-detail__tab .tab-content {
    line-height: 2em;
    height: 5em;
    text-align: justify;
}
.viewed-products .viewed-products--title {
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: #221F20;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 40px;
    margin-top: 25px;
}
.viewed-products{
    max-width: 90vw;
    overflow: hidden;
}
