@media (min-width: 768px) and (max-width: 1024px)
{
    /* Menu responsive */
    .container .main-menu .menu{
        display: none;
        background-color: #fff;
        position: relative;
        top: 80px;
        width: 111vw;
        left: -50px;
    }
    .main-menu .menu li{
        pointer-events: none;
        display: block;
        padding-left: 22px;
    }
    .main-menu .menu li a{
        font-size: 18px;
    }
    .main-menu .menu li:nth-child(2){
        margin-top: 100px;
    }
    .main-menu .close-menu{
        display: block;
        position: fixed;
        left: 20px;
        top: 20px;
    }
    .main-menu .close-menu i{
        padding: 5px;
    }
    .main-menu .mobile-menu{
        display: block;
    }
    .right-header{
        display: none;
    }
    .header-actions .item:not(:last-child){
        display: none;
    }
    .header-actions{
        width: 30px;
    }
    .container .nav-info{
        display: none;
    }
    .owl-nav{
        display: none;
    }
    .owl-dots{
        display: none;
    }
    .item-promote{
        width: 50%;
    }
    .header-actions .sub-action-cart.open{
        right: 0;
        left: 0;
        width: 100%;
    }
    .viewed-products{
        display: none;
    }
    .product-detail .col-md-6{
        width: 100%;
    }
    .container {
        padding-bottom: 20px;
        justify-content: baseline !important;
    }
    .left-footer {
        max-width: 100%;
        width: 100%;
        padding-bottom: 30px;
    }
    .center-footer{
        max-width: 100%;
    }
    .right-footer{
        max-width: 100%;
    }

}

@media (min-width: 0px) and (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    .container .main-menu .menu{
        display: none;
        background-color: #fff;
        position: relative;
        top: 100px;
        width: 111vw;
        left: 40px;
    }
    .header-container{
        width: 100% !important;
    }
    .right-header{
        display: none;
    }
    .container .nav-info{
        display: none;
    }
    .item-cart{
        display: block;
        z-index: 1;
    }
    .container {
        justify-content: center;
    }
    .main-menu .mobile-menu{
        display: block;
        position: relative;
        left: -35px;
    }
    .main-menu{
        z-index: 2;
    }
    .header-actions .item:not(:last-child){
        display: none;
    }
    .header-actions .item-cart{
        position: absolute;
        right: 30px;
        top: 20px;
    }
    .site-brand img{
        margin-left: 45px;
    }
    .main-menu .close-menu{
        display: block;
        padding-left: 20px;
        padding-top: 20px;
    }
    .main-menu .menu li{
        padding: 20px;
    }
    .owl-nav{
        display: none;
    }
    .owl-dots{
        display: none;
    }
    .header-actions .sub-action-cart.open{
        right: 0;
        left: 0;
        width: 100%;
    }
    .list-promote .item-promote{
        width: 50%;
    }
    .title-section{
        font-size: 24px;
    }
    .slider{
        padding-top: 20px;
    }
    .exclusive-tab{
        font-size: 16px;
        margin-right: 20px;
    }
    .list-color{
        padding: 0 5px;
    }
    .add-to-cart a {
        right: 12px;
    }
    .main-footer.d-flex{
        flex-direction: column-reverse;
    }
    .main-footer .left-footer{
        width: 100%;
        max-width: 100%;
    }
    .main-footer .center-footer{
        width: 100%;
        max-width: 100%;
    }
    .main-footer .right-footer{
        width: 100%;
        max-width: 100%;
    }
    .info-right-ft ul{
        display: flex;
        justify-content: space-between;
    }
    .filter-by-side{
        display: none;
    }
    .main-prod{
        padding-left: 0 !important;
    }
    .item-filter span{
        min-width: 100px !important;
    }
    .list-products-cat .item-cat-product{
        width: 50% !important;
    }
    .list-number-row .item-number-row a{
        font-size: 13px !important;
    }
    .info-product .price-product{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .viewed-products{
        display: none;
    }
    .row{
        width: 400px;
    }
    .product-detail__actions{
        justify-content: space-between;
    }
    .site-bottom .container{
        padding-top: 50px;
    }
    .product-detail__information h1{
        font-size: 25px !important;
    }
    .product-detail__sub-info{
        display: block !important;
    }
    .product-detail__rating {
        width: 100% !important;
    }
    .btn-modal {
        left: 37.5% ;
    }
    .btn-modal a{
        padding: 5px !important;
    }
    .swiper-container.thumbnail-slider{
        display: none;
    }
    .pt250{
        padding-top: 250px;
    }
    .product-detail__actions{
        flex-direction: column;
    }
    .product-detail__actions button{
        margin-bottom: 20px;
        width: 90%;
    }
    .product-detail__actions a {
        width: 90%;
    }
    .product-detail__actions a button{
        width: 100%;
    }
    .product-detail__information h1{
        margin-top: 20px;
    }
    .product-detail__price{
        text-align: center;
    }
    .product-detail__information{
        justify-content: center;
    }
    .product-detail__size{
        text-align: center;
    }
    .product-detail__price .product-detail__price-sale{
        right: calc(100% - 350px) !important;
    }
    .main-prod{
        width: 100%;
    }
    .cart__table thead{
        display: none;
    }
    .product-detail__quantity-input{
        width: 30px;
    }
    .product-detail__quantity-input input{
        width: 100%;
    }
    .cart__product-item{
        display: block !important;
    }
    .cart__list .cart__table th, .cart__list .cart__table td, .cart__list--attach .cart__table--attach th, .cart__list--attach .cart__table--attach td {
        vertical-align: top;
        padding: 0 6px !important;
    }
    .col-5{
        width: 100%;
    }
    #pagination li:nth-last-child(5),
    #pagination li:nth-last-child(3),
    #pagination li:nth-last-child(4) {
        display: none;
    }
    .auth-row{
        flex-direction: column-reverse;
    }
    .auth-row:before {
        position: absolute;
        content: "";
        height: 300px;
        width: 0px;
        left: 50%;
        top: 0;
        background-color: #e7e8e9;
    }
    .auth-container{
        min-width: 0;
    }
    .owl-item{
        width: 250px !important;
    }
}
@media (min-width: 820px) and (max-width: 1200px){
    .sidebar-prod {
        max-width: 130px !important;
    }
    .list-products-cat .item-cat-product{
        width: calc(100%/3) !important;
    }
    .auth-row{
        flex-direction: column-reverse;
    }
    .auth-row:before {
        position: absolute;
        content: "";
        height: 300px;
        width: 0px;
        left: 50%;
        top: 0;
        background-color: #e7e8e9;
    }
    .auth-container{
        min-width: 0;
    }
    .left-footer {
        max-width: 50%;
        width: 50%;
    }
    .right-footer{
        max-width: 100%;
        width: 100%;
    }
    #modal{
        width: 700px;
    }
    .viewed-products{
        display: none;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 100%;
        /* width: 50%; */
    }
    .btn-modal {
        left: 37.5% ;
    }
    .right-header{
        left: 20px;
    }   

}

@media (min-width: 1200px) {
    .site-brand{
        margin-left: 120px;
    }
}
@media (max-width: 1300px) and (min-width: 1200px) {
    .carousel-container {
        width: 100%;
        overflow: hidden;
    }
    .carousel-item {
        width: 100%;
    }
    .container{
        padding-bottom: 10px;
    }
}